---
const { title, subtitle, body, date, href } = Astro.props;
---

<article>
  {href ? <a href={href} class="contents"> <h3>{title}</h3></a> : <h3  class="!mb-2 !mt-10">{title}</h3>}

  {subtitle && <p class="sub">{subtitle}</p>}
  
  {body.map((b: string) => (
  <p class="!m-0">{b}</p>
  ))}
  
  <p class="sub !mt-2">{date}</p>
</article>
